#testimonials {
    min-height: 100vh;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
    gap: 2rem;
}

#testimonials header {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 2rem;
    align-items: center;
}

#testimonials header :first-child {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}

#testimonials p {
    color: var(--second-text-color);
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel:hover .carousel-content {
    animation-play-state: paused;
    cursor: pointer;
}

.carousel-content {
    display: flex;
    gap: 1.5rem;
    padding-right: 1.5rem;
    animation: swipe 30000ms linear infinite;
    flex-shrink: 0;
}

@keyframes swipe {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 16rem;
    background: var(--bg-color);
    border-radius: 0.375rem;
    padding: 1.625rem;
    text-align: center;
    gap: 1rem;
    flex-shrink: 0;
}

.carousel-card > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.rating {
    display: flex;
    margin-top: auto;
}

.star-filled {
    color: #facc15;
    font-size: 1rem;
}

.star-empty {
    color: #d1d5db;
    font-size: 1rem;
}

.names {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}

.names :first-child {
    color: var(--text-color);
    font-size: var(--fs-base);
}

@media (width >= 580px) {
    #testimonials {
        gap: 5rem;
        align-items: center;
    }

    #testimonials header p {
        width: 60%;
    }

    .testimony {
        width: 80%;
    }

    .carousel-card {
        min-width: 30rem;
        min-height: 26.875rem;
    }
}
